/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Local fonts (uncomment following lines)
@font-face {
  font-family: "KG_Sketch";
  src: font-url('KGSecondChancesSketch.ttf') format('truetype');
}

@font-face {
  font-family: "KG_Solid";
  src: font-url('KGSecondChancesSolid.ttf') format('truetype');
}

$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Raleway";
$header-font-solid: "KG_Solid";
$header-font-sketch: "KG_Sketch";


// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;
$card-bg: lighten(#000, 46.7%); // #777

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee
