<h1 class="text-center">Cité-U Tchat</h1>
<div class="container">
  <div class="row">
    <div class=" col-md-1"></div>
    <div class=" col-md-10" id="chatwee-widget"></div>
  </div>
</div>


<script src="http://repository.chatwee.com/scripts/35925349ec1d09383d04820fc4210063.js" type="text/javascript" charset="UTF-8"></script>
