
<div class="container-fluid">
<h1 class="text-center">Aujourd'hui</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-offset-3 col-xs-6 ">
        <br>
        <span class="text-center" >
        <A HREF="/dishes#">Decouvrez l'ensemble des plats disponibles</A>
        </span>
      </div>
    </div>
  </div>
</div>

<!--
        <button type="button" class="btn-rectangle-chalk" "texte-center" >
        <A HREF="/dishes#">Decouvrez l'ensemble des plats disponibles</A>
        </button>
btn btn-default active btn-block -->
