<h1 class="text-center">Aujourd'hui</h1>

<div class="container-fluid">
  <% @dishes.each do |dish| %>
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6">
          <h3><%= raise dish.user.name%> vous propose : <%=dish.name%> pour <%=dish.price_per_portion%> € par portion</h3>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>



  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-offset-3 col-xs-6 ">
        <br>
        <span class="text-center" >
        <A HREF="/dishes#">Decouvrez l'ensemble des plats disponibles</A>
        </span>
      </div>
    </div>
  </div>
</div>

