<h1 class="text-center">Manger dans un pays différent tous les soirs </h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">
        La Cité Internationale Universitaire vous propose
        <br>Un tour du monde des saveurs
      </h3>
      <div class="row">
        <div class="col-md-4">
          <div class="carousel slide" id="carousel-926743">
            <ol class="carousel-indicators">
              <li class="active" data-slide-to="0" data-target="#carousel-926743">
              </li>
              <li data-slide-to="1" data-target="#carousel-926743">
              </li>
              <li data-slide-to="2" data-target="#carousel-926743">
              </li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <img alt="Carousel Bootstrap First" src="https://images.unsplash.com/uploads/141281662118106b2f121/ad2f351f?q=80&fm=jpg&s=32d3a8e57bc12c61feec8c918a489c1c" />
                <div class="carousel-caption">
                  <h4>
                   Gouter
                  </h4>
                  <p>

                  </p>
                </div>
              </div>
              <div class="item">
                <img alt="Carousel Bootstrap Second" src="https://images.unsplash.com/reserve/oMRKkMc4RSq7N91OZl0O_IMG_8309.jpg?q=80&fm=jpg&s=9f0adb6c4d9775850a615a4fda2083fa" />
                <div class="carousel-caption">
                  <h4>
                    Voyager
                  </h4>

                </div>
              </div>
              <div class="item">
                <img alt="Carousel Bootstrap Third" src="http://medias.doublet.pro/medias/images/produits/540d16d33dc6a2f7def0ead2a7017df7.jpg" />
                <div class="carousel-caption">
                  <h4>
                    Découvrer
                  </h4>

                </div>
              </div>
            </div> <a class="left carousel-control" href="#carousel-926743" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-926743" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
          </div>
        </div>

        <div class="row">
        <div class="col-md-4">
          <div class="carousel slide" id="carousel-926743">
            <ol class="carousel-indicators">
              <li class="active" data-slide-to="0" data-target="#carousel-926743">
              </li>
              <li data-slide-to="1" data-target="#carousel-926743">
              </li>
              <li data-slide-to="2" data-target="#carousel-926743">
              </li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <img alt="Carousel Bootstrap First" src="https://images.unsplash.com/uploads/141281662118106b2f121/ad2f351f?q=80&fm=jpg&s=32d3a8e57bc12c61feec8c918a489c1c" />
                <div class="carousel-caption">
                  <h4>
                   Gouter
                  </h4>
                  <p>

                  </p>
                </div>
              </div>
              <div class="item">
                <img alt="Carousel Bootstrap Second" src="https://images.unsplash.com/reserve/oMRKkMc4RSq7N91OZl0O_IMG_8309.jpg?q=80&fm=jpg&s=9f0adb6c4d9775850a615a4fda2083fa" />
                <div class="carousel-caption">
                  <h4>
                    Voyager
                  </h4>

                </div>
              </div>
              <div class="item">
                <img alt="Carousel Bootstrap Third" src="http://medias.doublet.pro/medias/images/produits/540d16d33dc6a2f7def0ead2a7017df7.jpg" />
                <div class="carousel-caption">
                  <h4>
                    Découvrer
                  </h4>

                </div>
              </div>
            </div> <a class="left carousel-control" href="#carousel-926743" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-926743" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
          </div>
        </div>

        <div class="row">
        <div class="col-md-4">
          <div class="carousel slide" id="carousel-926743">
            <ol class="carousel-indicators">
              <li class="active" data-slide-to="0" data-target="#carousel-926743">
              </li>
              <li data-slide-to="1" data-target="#carousel-926743">
              </li>
              <li data-slide-to="2" data-target="#carousel-926743">
              </li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <img alt="Carousel Bootstrap First" src="https://images.unsplash.com/uploads/141281662118106b2f121/ad2f351f?q=80&fm=jpg&s=32d3a8e57bc12c61feec8c918a489c1c" />
                <div class="carousel-caption">
                  <h4>
                   Gouter
                  </h4>
                  <p>

                  </p>
                </div>
              </div>
              <div class="item">
                <img alt="Carousel Bootstrap Second" src="https://images.unsplash.com/reserve/oMRKkMc4RSq7N91OZl0O_IMG_8309.jpg?q=80&fm=jpg&s=9f0adb6c4d9775850a615a4fda2083fa" />
                <div class="carousel-caption">
                  <h4>
                    Voyager
                  </h4>

                </div>
              </div>
              <div class="item">
                <img alt="Carousel Bootstrap Third" src="http://medias.doublet.pro/medias/images/produits/540d16d33dc6a2f7def0ead2a7017df7.jpg" />
                <div class="carousel-caption">
                  <h4>
                    Découvrer
                  </h4>

                </div>
              </div>
            </div> <a class="left carousel-control" href="#carousel-926743" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-926743" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
          </div>

          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <button type="button" class="btn btn-default active btn-block" href="/dishes/index.htlm.erb">
                  Decouvrez l'ensemble des plats disponibles
                </button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
