#logo{
  float: left;
  margin-top: 5px;
}
.cta{
  float: right;
  margin-top: 21px;
}

#login{
  margin-top: 21px;
  padding-right: 30px;
  color: white;
}

// input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
//     background-color: transparent;
//     color: rgb(255,255,255);
// }

input, input[type="password"], input[type="search"] {
   cursor: auto;
}
