<h1 class="text-center">MENU DU JOUR</h1>
      <br><br>
<div class="container">
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6 ">
    <% @dishes.each do |dish| %>
      <div class="row">
        <div class="col-md-10">
          <h2><%= link_to dish.name, dish_path(dish) %></h2>
          <p><%= dish.description %>
          <h2>7€</h2></p>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
