<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">
        ENSEMBLE DES PLATS DISPONIBLES
      </h3>
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <img alt="Bootstrap Thumbnail First" src="https://images.unsplash.com/uploads/141281662118106b2f121/ad2f351f?q=80&fm=jpg&s=32d3a8e57bc12c61feec8c918a489c1c" />
            <div class="caption">
              <h3>
                Nom de la recette
              </h3>

              <p>
                <a class="btn btn-primary" href="#">Commander</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img alt="Bootstrap Thumbnail Second" src="https://images.unsplash.com/uploads/141281662118106b2f121/ad2f351f?q=80&fm=jpg&s=32d3a8e57bc12c61feec8c918a489c1c" />
            <div class="caption">
              <h3>
                Nom de la recette
              </h3>

              <p>
                <a class="btn btn-primary" href="#">Commander</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img alt="Bootstrap Thumbnail Third" src="https://images.unsplash.com/uploads/141281662118106b2f121/ad2f351f?q=80&fm=jpg&s=32d3a8e57bc12c61feec8c918a489c1c" />
            <div class="caption">
              <h3>
               Nom de la recette
              </h3>

              <p>
                <a class="btn btn-primary" href="#">Commander</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
