
<div class="container text-center">
  <h2><%= @dish.name%></h2>
  <p><%= @dish.description%></p>
      <h2>Ingrédients</h2>
      <p>
        <ul class="list-unstyled">
          <% @dish.ingredients.each do |ingredient|%>
            <li>
              <%= ingredient.name %>
            </li>
          <% end %>
        </ul>
      </p>
</div>



