<div class="container padded">

    <div class="row">

        <div class="col-lg-6 col-sm-12 row-bg" style="row-bg">
          <div class="card">
            <h2 class="section-heading"><strong><%= @dish.name%><strong></h2>
            <p><%= @dish.description%></p>
            <p>Liste des ingrédients</p>
            <ul> <!-- class="list-unstyled" -->
                <% @dish.ingredients.each do |ingredient|%>
              <li>
              <%= ingredient.name %>
              </li>
              <% end %>
            </ul>
            </div>
        </div>

        <div class="col-lg-6 col-sm-12">
          <div class="card-img">
            <%= image_tag @dish.picture.url(:large) %>
          </div>
        </div>

    </div>

</div>
