<div class="container padded">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div class="card-wrapper row-bg">
        <div class="card row-bg">
          <span class="card-description">
            <h2>Some stuff</h2>
          </span>
          <span class="card-text">
            <h2>Some stuff</h2>
            <p>Very cool stuff, useful and smart</p>
          </span>
          <span class="card-user">
            <img src='user.jpg' class="avatar avatar-bordered"/>
          </span>
          <a href="#" class="card-link"></a>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-sm-12">
      <div class="card-wrapper row-bg">
        <div class="card row-bg">
          <span class="card-description">Popular</span>
          <span class="card-text">
            <%= image_tag @dish.picture.url(:large) %>
          </span>
          <span class="card-user">
            <img src='user.jpg' class="avatar avatar-bordered"/>
          </span>
          <a href="#" class="card-link"></a>
        </div>
      </div>
    </div>
  </div>
</div>


     <!--  <div class="card-dish">
        <span class="card-user">
          <img src='user.picture' class="avatar avatar-bordered"/>
        </span>
        <span class="card-shadow"></span>
        <span class="card-description"><h2><%#= @dish.name%></h2></span>
        <span class="card-text">
          <p><%#= @dish.description%></p>
        </span>
        <span>
          <p>Liste des ingrédients</p> -->
          <!-- <ul class="list-unstyled"> -->
            <%# @dish.ingredients.each do |ingredient|%>
              <!-- <li>
                <%#= ingredient.name %>
              </li>
            <%# end %>
          </ul>
        </span>
        <a href="#" class="card-link"></a>
      </div>
    </div>
    <div class="card-dish-img">
      <div class="col-lg-6 col-sm-12 row-bg">
        <%#= image_tag @dish.picture.url(:large) %>
      </div>
    </div>
  </div>
</div>
 -->
