<div class="container text-center">
  <div class="container-fluid">
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6 ">
  <h2><%= @dish.name%></h2>
  <p><%= @dish.description%></p>
      <h2>Ingrédients</h2>
      <p>
        <ul class="list-unstyled">
          <% @dish.ingredients.each do |ingredient|%>
            <li>
              <%= ingredient.name %>
            </li>
          <% end %>
        </ul>
      </p>
      <h1><A HREF="/dishes#">Commander</h1>

</div>


<div ><h2><%= @dish.price_per_portion %> €</h2></div>
